Checks: "
  -*,
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  cert-*-c,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-use-nullptr,
  -readability-identifier-length
  "

WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none

